/** {
	border: 1px dashed black;
}*/

body {
	background-color: #FDFEFE;
	font-family: Futura, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
	
	/*for background image
	
	background-image: url(Rinjani.jpg);
	background-size: cover;
	background-repeat: no-repeat;*/

.header {
	width: 100%;
	top: 0;
	background-color: #FDFEFE;
	height: 80px;
	position: fixed;
	overflow-x: hidden;
}

.headercontainer {
	width: 90%;
	margin: 0 auto;
}

.logocontainer {
	float: left;
	margin-top: 18px;
	width: 350px;	
}

#logoimage {
	width: 350px;
	height: 53px;
}

.nav {
	float: right;
}

ul {
	list-style-type: none;
	font-weight: 100;
	font-size: 0.8em;
}

li {
	float: left;
	margin: 30px 10px 5px 10px;
}

a {
	color: #808B96;
	text-decoration: none;
}
	
li a:hover {
	color: #111;
	text-decoration: none;
}

.content {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.contentcontainer {
	margin: 40px auto;
	width: 1080px;
	position: relative;
	}
	
.image_iconcontainer {
	width: 1080px;
}

#mainimage {
	width: 1080px;
	height: auto;
	margin: 0 auto;
}

.iconbar {
	height: 50px;
	width: 50px;
	margin-left: 15px;
	margin-top: -10px;
}

.icon {
	height: 18px;
	width: 18px;
	padding: 5px;
	margin-top: 10px;
	opacity: 0.5;
	float: right;
}

.mailcontainer {
	height: 21px;
	width: 21px;
	float: left;
}
	
#mail {
	height: 21px;
	width: 21px;
	padding-top: 3px;
}

.icon:hover {
	opacity: 1.0;
}

.footer {
	position: absolute;
	background-color: none;
	padding: 15px 0px 15px 5px;
	font-weight: 100;
	font-size: 0.8em;
	bottom: 0;
	width: 100%;
	height: 10px;
}

span {
	font-weight: bold;
}

@media screen and (max-width: 900px) {
	
	.headercontainer {
	max-width: 90%;
	min-width: 770px;
	margin: 0 auto;
	}
	
	.contentcontainer {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	position: relative;
	}
	
	.image_iconcontainer {
	width: 900px;
	}

	#mainimage {
	width: 900px;
	height: auto;
	margin: 0 auto;
	}

	.footer {
	font-size: 0.9em;
	}
	
}

@media screen and (max-width: 500px) {
	
	.header {
	width: 100%;
	top: 0;
	height: 150px;
	position: absolute;
	}

	.headercontainer {
	width: 350px;
	position: absolute;
	margin-left: -3%;
	}
	
	.logocontainer {
	margin-top: 18px;
	position: absolute;
	margin-left: 3%;
	height: 10px;
	}

	.nav {
	float: left;
	clear: both;
	width: 420px;
	margin-top: 40px;
	margin-left: -2%;
	}
	
	ul {
	list-style-type: none;
	font-weight: 100;
	font-size: 1.2em;
	}
	
	li {
	margin: 15px;
	}
	
	.secondrow {
	float: left;
	clear: both;
	margin-top: -15px;
	margin-left: 20%;
	}
	
	#last {
	float: right;
	clear: both;
	margin-top: -41px;
	margin-right: 28%;
	}
		
	.contentcontainer {
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
	}
	
	.image_iconcontainer {
	width: 100%;
	height: auto;
	}

	#mainimage {
	width: 100%;
	height: auto;
	margin: 0 auto;
	}

	.footer {
	font-size: 1em;
}
	
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	